@import 'https://fonts.googleapis.com/css?family=Francois+One|Work+Sans:300,400,600,700';
@import url('https://fonts.googleapis.com/css?family=Lora');
body {
	/*background: rgba(231, 245, 231, 0.54);*/
	background: #152844;
	border: 6px rgba(255, 255, 255, 0) solid;
	box-shadow: 2px 0px 10px rgba(7, 79, 107, 0.15) inset; transition: background 2s ease;
	-webkit-transition: background 2s ease;
	-moz-transition: background 2s ease;
}

.all {
	margin: 0;
	padding: 0;
	transition: padding 0.8s cubic-bezier(0.94, 0.06, 0.42, 0.95) 0.2s;
	-webkit-transition: padding 0.8s cubic-bezier(0.94, 0.06, 0.42, 0.95) 0.2s;
	-moz-transition: padding 0.8s cubic-bezier(0.94, 0.06, 0.42, 0.95) 0.2s;
}

#portfolio-body {
	background: rgba(185, 221, 245, 0.35);
	border: 6px rgb(255, 255, 255) solid;
}

@media screen and (min-width: 1077px) {
	#portfolio-body {
		border: 12px rgba(255, 255, 255, 0.49) solid;
		background-image: url(../images/try.png);
		background-repeat: no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
}

#portfolio-body h1 a {
	color: #0f233e !important
}

#portfolio-body h1 span {
	color: #0f233e !important
}

#portfolio-body .quick-contact a {
	color: #0f233e !important;
}

#portfolio-body .bump-it {
	color: #0f233e !important;
}

#portfolio-body li a {
	color: #0f233e;
}

#portfolio-body .mp-logo-frst {
	width: 25vw;
	margin: auto;
	margin-bottom: 13%;
}

#portfolio-body li a:hover,
#portfolio-body .on-this-view {
	color: rgba(10, 45, 80, 0.73);
	border-bottom: 0.5vw rgba(185, 255, 199, 0.98) solid !important;
	
}

#portfolio-body .foot .topl {
	color: #000;
}

#portfolio-body .foot h5 {
	color: rgb(4, 68, 4) !important;
}

#portfolio-body .quick-contact a:hover {
	border-bottom: 1px solid #081F0B !important;
}

.header {
	/*box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	-o-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);*/
	padding-bottom: 2em;
	/*  was 5 */
	padding-left: 1.95em;
	padding-top: 3em;
}

h1 {
	color: #fff;
	font-family: 'Work Sans', sans-serif;
	font-size: 3em;
	font-weight: 100;
	letter-spacing: 2px;
	text-transform: uppercase;
	transition: 0.8s cubic-bezier(0.94, 0.06, 0.42, 0.95) 0.2s;
	-webkit-transition: 0.8s cubic-bezier(0.94, 0.06, 0.42, 0.95) 0.2s;
	-moz-transition: 0.8s cubic-bezier(0.94, 0.06, 0.42, 0.95) 0.2s;
}

.what-kind-of {
	text-transform: uppercase;
	font-size: 0.22em;
	margin: 40px 8px;
	font-weight: normal;
	font-family: 'Francois One', sans-serif;
	text-shadow: none !important;
}

.link-to-this {
	text-transform: uppercase;
	font-family: 'Work Sans', sans-serif;
	font-size: 0.4em !important;
	position: relative;
	bottom: 0.6em;
	left: 0.6em;
	color: rgba(73, 175, 125, 0.71);
	font-weight: bold;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	transition: 0.3s ease;
	display: inline-block;
}

.bump-it {
	font-weight: normal;
	font-family: 'Francois One', sans-serif;
	color: #fff;
}

.port a:hover .link-to-this,
.active-to-link {
	color: black;
}

.port h4:hover,
.focus-port-h4 {
	color: #174825;
}

.active-to-link {
	color: black
}

.content {
	height: 26vh;
	background: rgba(224, 98, 73, 0.81);
	filter: blur(50px);
	-webkit-filter: blur(50px);
	margin: 16%;
}

.quick-contact {
	font-family: 'Work Sans', sans-serif;
	font-size: 0.8em;
	transform: translate3d(0.8%, -200%, 0);
	-webkit-transform: translate3d(0.8%, -200%, 0);
	-moz-transform: translate3d(0.8%, -200%, 0);
	position: relative;
	top: 0;
}

.quick-contact a {
	text-decoration: none !important;
	color: #fff !important;
	transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	padding-bottom: 6px;
}

.quick-contact a:hover {
	border-bottom: 1px solid #fff;
}


/*h1:before {
    content: "-";
    position: absolute;
    left: -0.33em;
    font-size: 8em;
    top: -.42em;
    color: rgba(0, 100, 0, .5);
}*/

h1 a,
li a {
	color: #fff;
	text-decoration: none;
}

h1 a {
	color: #fff !important;
}

.role-of {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	margin-top: -3%;
	margin-bottom: 3%;
	font-size: 0.8em;
}

@media screen and (max-width: 600px) {
	.role-of {
		margin-top: -5%;
		margin-bottom: 7%;
	}
}

a:visited {
	color: #fff;
}

.header .nav a {
	transition: .1s linear;
	-moz-transition: .1s linear;
	-webkit-transition: .1s linear;
	-o-transition: .1s linear;
	/*border-top: solid 1px white;
    border-bottom: solid 1px white;*/
	padding: .5em 0 .5em;
	text-transform: uppercase;
	display: inline-block;
	border-bottom: 4px solid rgba(12, 60, 12, 0);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.header .nav a:hover,
a.on-this-view {
	color: rgba(185, 255, 199, 0.73);
	padding: .5em 0 .5em;
	border-bottom: 0.5vw rgba(185, 255, 199, 0.73) solid;
}

a.on-this-view {
	border-bottom: 0.5vw rgba(185, 255, 199, 0.73) solid !important;
}

h1 span {
	color: #fff !important;
	display: block;
	position: relative;
	top: -5px;
	/*left: 0.5px;*/
}

.nav {
	float: right;
	position: relative;
	top: 1.7em;
	transition: 0.8s cubic-bezier(0.94, 0.06, 0.42, 0.95) 0.2s;
	-webkit-transition: 0.8s cubic-bezier(0.94, 0.06, 0.42, 0.95) 0.2s;
	-moz-transition: 0.8s cubic-bezier(0.94, 0.06, 0.42, 0.95) 0.2s;
}

.nav li {
	float: left;
	font-family: 'Francois One', sans-serif;
	margin-right: 2em;
	font-size: 1.6em;
	font-weight: bold;
	letter-spacing: 2px;
}

.content ul {
	background: none repeat scroll 0 0 #FFFFFF;
	margin-left: 9%;
	margin-top: 5%;
}

.content ul li {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	float: left;
	margin-bottom: 2em;
	margin-right: 2.5em;
	max-width: 90%;
}

.content ul li img {
	border: 1px solid #FFFFFF;
	box-shadow: 0 0 2px #D3D3D3;
	-webkit-box-shadow: 0 0 2px #D3D3D3;
	-moz-box-shadow: 0 0 2px #D3D3D3;
	-o-box-shadow: 0 0 2px #D3D3D3;
	max-width: 100%;
}

@media screen and (min-width: 588px) {
	.content ul li {
		max-width: 39.5%;
	}
	h1 {
		font-size: 4em;
	}
	.content {
		height: 35vh;
		background: rgba(185, 255, 199, 0.73);
		filter: blur(60px);
		-webkit-filter: blur(60px);
		margin: 7% 8%;
	}
}

@media screen and (max-width: 1076px) {
	.resume,
	.port {
		margin-top: 5em !important;
	}
}

@media screen and (min-width: 1077px) {
	.all {
		padding: 12vh 0 0;
		width: 96.5vw;
		margin: auto;
		max-width: 1350px;
	}
	.content ul {
		background: none repeat scroll 0 0 #FFFFFF;
		margin-left: 3.5em;
		margin-top: 3.5em;
	}
	h1 {
		font-size: 5em;
	}
	.nav {
		top: -3.8em;
	}
	.nav li {
		font-size: 1.7em;
		font-weight: 600;
		letter-spacing: 2px;
	}
	.content {
		height: 35vh;
		background: rgba(185, 255, 199, 0.73);
		filter: blur(60px);
		-webkit-filter: blur(60px);
		margin: 6% 0%;
		transition: 1s ease;
		-webkit-transition: 1s ease;
		-moz-transition: 1s ease;
	}
}

.content .band1 {
	height: 50%;
	background-color: rgba(115, 172, 198, 1);
}

.content .band2 {
	height: 50%;
	background-color: rgba(185, 255, 199, 1);
	border-top: #fff 0px solid;
}

.content .band3 {
	height: 55%;
	background-color: rgba(203, 233, 178, 1);
}

.content .band4 {
	height: 55%;
	background-color: rgba(187, 228, 227, 1);
}

@media screen and (min-width: 1216px) {
	.content ul li {
		max-width: 28.5%;
	}
}

@media screen and (min-with: 1615px) {
	#portfolio-body {
		border: 9px rgba(255, 255, 255, 0) solid !important;
	}
}

@media screen and (min-width: 2467px) {
	.content ul li:last-child {
		float: none;
	}
}


/*

 Resume

 */

#resume_time,
#the-very {
	background-image: url('http://nicholasgish.com/images/spotr.jpg');
	background-blend-mode: soft-light;
	background-attachment: fixed;
	background-size: 217%;
	background-repeat: no-repeat;
}
#resume_time .contact a {
	transition: 0.2s ease-out;
}
#resume_time .contact a:hover {
	color: rgba(185, 255, 199, 0.73) !important;
}

#the-very {
	background-position: 31% 2%;
}

@media screen and (max-width: 1022px) {
	#resume_time {
		background-position: 0% 95%;
		background-size: cover;
	}
}

.resume {
	font-family: 'Work Sans', sans-serif;
	padding: 3%;
	color: #fff;
	margin-top: 7% !important;
}

.resume,
.port {
	transition: 1.2s cubic-bezier(0.19, 1, 0.22, 1);
	-webkit-transition: 1.2s cubic-bezier(0.19, 1, 0.22, 1);
	-moz-transition: 1.2s cubic-bezier(0.19, 1, 0.22, 1);
	opacity: 0;
	transform: translate3d(0, 1%, 0);
}

.resume_jobs dl {
	max-width: 65vw;
	opacity: 0; 
}

@media screen and (min-width: 1511px) {
	.resume_jobs dl {
		max-width: 51vw;
	}
}

.port {
	transform: translate3d(0, 0.5%, 0);
}

.skills,
.edu {
	margin-left: 2.1em;
	margin-right: 2.1em;
	/*margin-top: 1.5em;*/
}

.skills dd {
	font-size: 0.8em;
	line-height: 1.4em;
	margin-right: 1em;
}

.skills p {
    font-size: 0.65em;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-top: 7px;
    padding-bottom: 3px;
}

.skills dt,
.job1 dt:nth-child(3),
.job2 dt:nth-child(3) {
	font-size: 1.2em;
	font-weight: 700;
	margin-top: 0.15em;
}

.skills dt {
	margin-bottom: 0.3em;
}

.skills {
	/*margin-bottom: 2.3em;*/
	width: 42vw;
}

.wsamps {
	width: auto !important;
}

.contact li {
	padding-bottom: 0.5em;
	font-weight: 400;
}

.skills h3 {
	font-size: 1.4em;
	padding-bottom: 0.8em;
	font-weight: 800;
}



.skills dt dfn {
	font-size: 0.8em;
}

.job1 {
	clear: both;
}

.resume h2 {
	font-size: 3.5em;
	font-weight: 200;
	margin-left: 0.6em;
	margin-top: 1em;
	padding-top: 1em;
	text-transform: lowercase;
	display: none !important;
}

.contact {
	font-weight: 700;
	line-height: 1.2em;
	margin-bottom: 1em;
	/*margin-left: 2.2em;
	margin-top: 1em;*/
}

.job1,
.job2,
.refs,
.jobcurrent,
.jobrecent {
	margin: 3.95em 2.1em 2em;
	/*border-left: 1vw rgba(255, 243, 206, 0.73) solid;*/
	border-left: 1vw rgba(216, 255, 211, 0.0) solid;
	padding-left: 3vw;
	-webkit-transition: 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.0s;
	-moz-transition: 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.0s;
	transition: 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.0s;
}

.job1:hover,
.job2:hover,
.refs:hover,
.jobcurrent:hover,
.jobrecent:hover {
	border-left: 1vw rgb(145, 255, 149) solid !important;
	transition: 0.5s ease-in-out 0.0s !important;
}

.refs {
	border: none !important;
	display: none !important;
}

.job1 dt:nth-child(1),
.job1 dt:nth-child(2),
.job2 dt:nth-child(1),
.job2 dt:nth-child(2),
.jobcurrent dt:nth-child(1),
.jobcurrent dt:nth-child(2),
.jobrecent dt:nth-child(1),
.jobrecent dt:nth-child(2) {
	font-size: 0.95em;
	font-weight: 100;
	line-height: 1.3em;
}

.job1 dd,
.job2 dd,
.jobcurrent dd,
.jobrecent dd {
	font-size: 0.8em;
	line-height: 1.3em;
	padding-bottom: 0.7em;
}

.job1 dt:nth-child(3),
.job2 dt:nth-child(3),
.jobcurrent dt:nth-child(3),
.jobrecent dt:nth-child(3) {
	margin-bottom: 0.8em;
}

.edu dt dfn {
	display: block;
	font-size: 1.2em;
	font-weight: 600;
	margin-bottom: 0.6em;
	margin-top: 4em;
}

.edu {
	font-size: 0.8em;
	line-height: 1.2em;
	/*margin-bottom: 2em;*/
	margin-top: 0;
	margin-bottom: 10em !important;
	opacity: 0;
	transition: 0.5s ease;
}

.edu dt:nth-child(5) {
	margin-top: 1.2em;
}

.refs {
	font-size: 1.3em;
	font-weight: 200;
	margin-left: 1.2em;
}


/*.job1:before, .job2:before, .jobcurrent:before {
	color: rgba(0, 102, 0, 0.45);
	content: "-";
	display: block;
	font-size: 6em;
	left: -0.14em;
	position: absolute;
}*/

.jobcurrent dt dfn, .jobrecent dt dfn {
	font-size: 1.2em;
	font-weight: bold;
}


/* expanded resume */

.money-img {
	width: 15vw;
    border: 1px solid #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.34);
    float: left;
    margin-right: 3vw;
    height: 19vw;
}

.dbrf-img {
    width: 49vw;
    border: 1px solid #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.34);
    float: right;
    margin-left: 3vw;
}

@media screen and (min-width: 1440px) {
	.dbrf-img {
		width: 49vw;
		border: 1px solid #fff;
		box-shadow: 0 0 1px rgba(0, 0, 0, 0.34);
		float: none;
		margin-left: 3vw;
		margin-bottom: 3vw;
		margin-top: 3vw;
		display: block;
	}
}

.fiction1 .holdTextImg {
	height: 100%;
}

.fiction1 .holdTextImg p {
	height: 19vw;
}

@media screen and (max-width: 850px) {
	.fiction1 .holdTextImg p {
		height: initial;
	}
}

@media screen and (max-width: 1260px) {
	.toolsUsed span {
		font-weight: bold;
		text-transform: uppercase;
		border: 1px solid #fff;
		padding: 7px;
		font-size: 0.8em;
		letter-spacing: 1px;
		margin-right: 8px;
		clear: both;
		display: table !important;
		margin-bottom: 1em !important;
	}

	.bar {
		height: 1vw !important;
	}
}

@media screen and (min-width: 1024px) {

	.resume {
		font-family: 'Work Sans', sans-serif;
		padding: 0% !important;
	}
	.edu {
		margin-left: 2.1em;
		margin-right: 2.1em;
		color: #fff;
		/*margin-top: 1.5em;*/
	}
	.skills dd {
		font-size: 1em;
		line-height: 1.4em;
		margin-right: 1em;
	}
	.skills dt,
	.job1 dt:nth-child(3),
	.job2 dt:nth-child(3),
	.jobcurrent dt:nth-child(3),
	.jobrecent dt:nth-child(3) {
		font-size: 1.5em;
		font-weight: 600;
		margin-top: 0.15em;
	}
	.skills dt {
		margin-bottom: 0.3em;
	}
	.skills {
		/*float: right;*/
		/*left: 50em;*/
		margin-bottom: 4.3em;
		/*position: absolute;*/
		/*top: 33em;*/
		float: left;
	}
	.job1 {}
	.resume h2 {
		font-size: 3.5em;
		font-weight: 200;
		margin-left: 0.55em;
		margin-top: 1em;
		padding-top: 1em;
		text-transform: lowercase;
	}
	.contact {
		font-weight: 700;
		line-height: 1.2em;
		margin-bottom: 3em;
		/*margin-left: 2.1em;*/
		/*margin-top: 1.66em;*/
		float: left;
		min-height: 80px;
	}
	.job1,
	.job2,
	.refs,
	.jobcurrent, jobrecent {
		margin-bottom: 2em;
		margin-left: 1.1em;
		margin-right: 2.1em;
		clear: both;
		opacity: 0;
	}
	.job1:hover,
	.job2:hover,
	.refs:hover,
	.jobcurrent:hover, 
	.jobrecent:hover {
		border-left: 1vw rgba(185, 255, 199, 0.73) solid;
	}
	.job1 dt:nth-child(1),
	.job1 dt:nth-child(2),
	.job2 dt:nth-child(1),
	.job2 dt:nth-child(2),
	.jobcurrent dt:nth-child(1),
	.jobcurrent dt:nth-child(2)
	.jobrecent dt:nth-child(1),
	.jobrecent dt:nth-child(2) {
		font-size: 0.95em;
		font-weight: 100;
		line-height: 1.3em;
	}
	.job1 dd,
	.job2 dd,
	.jobcurrent dd, .jobrecent dd {
		font-size: 1em;
		line-height: 1.3em;
		padding-bottom: 0.7em;
	}
	.job1 dt:nth-child(3),
	.job2 dt:nth-child(3),
	.jobcurrent dt:nth-child(3), .jobrecent dt:nth-child(3) {
		margin-bottom: 0.8em;
	}
	.edu dt dfn {
		display: block;
		font-size: 1.2em;
		font-weight: 600;
		margin-bottom: 0.6em;
		margin-top: 4em;
	}
	.edu {
		/*float: right;*/
		font-size: 1em;
		left: 49.63em;
		line-height: 1.2em;
		margin-bottom: 2em;
		margin-top: 0;
		/*position: absolute;*/
		top: 55em;
	}
	.edu dt:nth-child(5) {
		margin-top: 1.2em;
	}
	.refs {
		font-size: 1.3em;
		font-weight: 200;
		margin-left: 1.2em;
	}
	/*.job1:before, .job2:before, .jobcurrent:before {
		color: rgba(0, 102, 0, 0.45);
		content: "-";
		display: block;
		font-size: 6em;
		left: -0.14em;
		position: absolute;
	}*/
	.jobcurrent dt dfn, .jobrecent dt dfn {
		font-size: 1.0em;
		font-weight: 600;
	}
}


/*

 Portfolio

 */

.port {
	font-family: 'Work Sans', sans-serif;
}

.port div {
	clear: both;
	padding-bottom: 4em;
}

.port h3 {
	border-top: 1px solid rgba(60, 132, 230, 0.39);
	font-size: 2.5em;
	font-weight: bold;
	padding: 1.8em 0 1em;
	text-align: center;
	margin-top: 2em;
	padding-top: 4em;
	font-family: 'Lora', sans-serif;
	margin: 6% 0 6% 0;
}

#top-port-menu {
	position: fixed;
	top: 0;
	display: none;
	opacity: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.966);
	width: 100vw;
	height: 5em;
	box-shadow: 0 0 7px rgba(22, 79, 105, 0.40);
	-moz-transition: opacity 0.5s ease 0.2s;
	-webkit-transition: opacity 0.5s ease 0.2s;
	transition: opacity 0.5s ease 0.2s;
}

#top-port-menu a.topl {
	font-family: 'Work Sans', sans-serif;
	text-decoration: none;
	position: absolute;
	right: 3.5em;
	top: 2.9em;
	color: black !important;
	font-size: 0.8em;
}

#top-port-menu ul {
	width: 47em;
	height: 4em;
	margin: 0.5% auto;
}

#top-port-menu ul a,
#top-port-menu ul a:visited {
	color: black;
	font-size: 1.2em;
	transition: 0.2s ease;
	border-bottom: 2px solid transparent !important;
}

#top-port-menu ul a:hover {
	border-bottom: 2px solid #0c190a !important;
}

.tpm-weblink,
.tpm-splink,
.tpm-logotlink {
	float: left;
	font-family: 'Work Sans', sans-serif;
	font-weight: bold;
	padding-left: 5em;
	padding-right: 5em;
	margin-top: 1.35em;
	border-right: 1px solid black;
}

.tpm-weblink {}

.tpm-splink {}

.tpm-logotlink {
	border: none;
}

@media screen and (max-width: 780px) {
	#top-port-menu {
		display: none !important;
	}
}

@media screen and (min-width: 781px) {
	#top-port-menu {
		display: block;
	}
}

.port .contain-img {
	max-width: 78vw;
	margin: auto;
	padding-bottom: 0;
}

.port .site1 img {
	border: 1px solid #FFFFFF;
	box-shadow: 0 0 2px #D3D3D3;
	-webkit-box-shadow: 0 0 2px #D3D3D3;
	-moz-box-shadow: 0 0 2px #D3D3D3;
	-o-box-shadow: 0 0 2px #D3D3D3;
}

.port .bc-site1,
.port .bc-site2 {
	margin-top: 5em;
	margin-bottom: 5em;
}

.port .bc-site1 img {}

.port .bc-site1 img:nth-child(1) {}

.port .bc-site1 img:nth-child(2) {}

.port .bc-site1 img,
.port .bc-site2 img {
	width: 44%;
	border: 1px solid white;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.34);
	margin-top: 2%;
	margin-bottom: 2%;
}

.port .bc-site2 img {
	width: 30%;
}

.port .bc-site2 img:nth-of-type(1) {}

.port .bc-site2 img:nth-of-type(2) {
	margin-left: 3%;
	margin-right: 3%;
}

.port .bc-site1 img:nth-of-type(2) {
	margin-left: 5%;
}

.port ul.p_nav li {
	font-size: 1.5em;
	font-weight: 200;
	margin-bottom: 0.8em;
}

.sandp {
	transition: transform 3s ease-out;
}

.sandp img,
.logot img {
	display: block;
	max-width: 100%;
	border: 1px solid #FFFFFF;
	box-shadow: 0 0 2px #D3D3D3;
	-webkit-box-shadow: 0 0 2px #D3D3D3;
	-moz-box-shadow: 0 0 2px #D3D3D3;
	-o-box-shadow: 0 0 2px #D3D3D3;
}

.port ul.p_nav {
    margin: auto;
    max-width: 62em;
	padding: 5em 0em 2em 5em;
	font-family: 'Lora', sans-serif;
}

.sandp ul,
.logot ul {
	padding: 1.5em;
}

.sandp ul {
	max-width: 28em;
	margin: 0 auto;
}

.logot ul {
	margin: 0 auto;
	max-width: 38em;
}

.sandp ul li,
.logot ul li {
	margin-bottom: 2em;
}

.sandp ul li:first-child {
	padding-left: 3%;
}

.websites {
	padding: 0 2em;
}

.websites p {
	font-size: 1em;
	line-height: 1.4em;
	padding-bottom: 1.4em;
	padding-top: 0.4em;
}

.websites h4 {
	font-size: 2em;
	padding-bottom: 0.8em;
	margin-bottom: 2%;
}

a[href="#websites"],
a[href="#sandp"],
a[href="#logot"] {
	font-size: 1.3em;
	border-bottom: 1px solid transparent;
}

a[href="#websites"]:hover,
a[href="#sandp"]:hover,
a[href="#logot"]:hover {
	/*letter-spacing: 2px;*/
	transition: 0.2s ease;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	/*display: block;*/
	color: black;
	border-bottom: 1px solid #1ffd04;
}

img[src="../images/ckm_t.png"] {
	display: inline;
	float: left;
	margin-right: 1em;
	max-width: 39%;
	margin-bottom: 1em;
}

img[src="../images/ckm_b.png"] {
	float: left;
	max-width: 42%;
	padding: 0 1em 0 0;
}

.websites p:nth-of-type(1) {
	padding-top: 0;
	padding-bottom: 3em;
}

img[src="../images/wnlrg.png"] {
	padding: 1em 0;
	width: 100%;
}

.site1 {
	margin-bottom: 2em;
}

.site1,
.site2,
.bc-site1,
.bc-site2,
.fiction1,
.fiction2 {
	border-bottom: 1px solid rgba(60, 132, 230, 0.39);
	padding-bottom: 5em;
	margin-bottom: 8em;
}

.fiction1 {
	margin-top: 6vw;
}

.site2 {
	border-bottom: none;
	margin-top: -2em;
}

@media screen and (min-width: 390px) {
	img[src="../images/ckm_b.png"] {
		clear: left;
		float: left;
		max-width: 39%;
		padding: 0 1em 0 0;
	}
}

@media screen and (min-width: 466px) {

	.port .bc-site2 img {

	}

	.port {
		font-family: 'Work Sans', sans-serif;
		margin: 0 auto;
		max-width: 70em;
		/*padding: 5%;*/
	}
	.port .websites,
	.port .sandp,
	.port .logot {
		clear: both;
		padding-bottom: 4em;
	}
	.port h3 {
		border-top: 1px solid rgba(60, 132, 230, 0.39);
		font-size: 2.5em;
		font-weight: bold;
		padding: 0.8em 0em 2em;
		text-align: center;
		margin-top: 2em;
		padding-top: 4em;
	}
	.port ul.p_nav li {
		font-size: 1.6em !important;
		font-weight: 200;
		margin-bottom: 0.8em;
		/*float: left;*/
		margin-right: 6%;
	}
	.sandp img,
	.logot img {
		display: block;
		max-width: 100%;
	}
	.port ul.p_nav {
		margin: auto;
		font-family: 'Lora', sans-serif;
		/*max-width: 45em;
    	/*padding: 5em;*/
		/*display: flex;*/
	}
	.port ul.p_nav li:first-child {
		border: none;
	}
	.sandp ul,
	.logot ul {
		padding: 1.5em;
	}
	.sandp ul {
		max-width: 28em;
		margin: 0 auto;
	}
	.logot ul {
		margin: 0 auto;
		max-width: 38em;
	}
	.sandp ul li,
	.logot ul li {
		margin-bottom: 2em;
	}
	.websites {
		padding: 0 5em;
	}
	.websites p {
		font-size: 0.9em;
		line-height: 1.4em;
		padding-bottom: 1.4em;
		padding-top: 0.4em;
	}
	.websites h4 {
		font-size: 2em;
		padding-bottom: 0.8em;
	}
	img[src="../images/ckm_t.png"] {
		display: inline;
		float: left;
		margin-right: 1em;
		max-width: 18%;
	}
	img[src="../images/ckm_b.png"] {
		clear: left;
		float: left;
		max-width: 18%;
		padding: 0 1em 0 0;
	}
	.websites p:nth-of-type(1) {
		padding-top: 0;
	}
	img[src="../images/wnlrg.png"] {
		float: none;
		padding: 1em 0 0 2em;
		/*position: relative;
		 /top: -2%;*/
		width: 70%;
	}
}

@media screen and (min-width: 520px) {
	.websites p:nth-of-type(1) {
		padding-bottom: 1.4em;
		padding-top: 0;
	}
}

@media screen and (min-width: 825px) {
	.port .websites {
		padding-bottom: 23.5em !important;
	}
}

.foot {
	bottom: 0;
	/*box-shadow: 0 0 2px #D3D3D3;
    -webkit-box-shadow: 0 0 2px #D3D3D3;
    -moz-box-shadow: 0 0 2px #D3D3D3;
    -o-box-shadow: 0 0 2px #D3D3D3;*/
	position: static;
	clear: both;
	margin-top: 27px;
}

.foot h5 {
	font-family: 'Lora', serif;
	padding: 1.8em 1.8em 1.5em 1.8em;
	text-transform: lowercase;
	display: inline-block;
	font-weight: 400;
	margin-top: .5em;
	margin-bottom: .5em;
	color: #ffffff !important;
	width: 34px;
	/*silly old poo-bear*/
}

.foot h5 span {
	color: #808080 !important;
	display: block;
	font-size: 0.6em;
	padding-top: 0.9em;
	text-align: center;
}

.foot .topl {
	color: #fff;
	float: right;
	font-family: 'Work Sans', sans-serif;
	font-size: 0.8em;
	margin-right: 2em;
	margin-top: 3em;
	text-decoration: none;
}

.site1 img {
	display: inline;
	margin-bottom: 2.5em;
	margin-left: 0;
	max-width: 100%;
}

.site2 {
	margin-top: -2em;
}

.site1 a h4 {
	display: inline-block;
}

.site1 a[href="http://www.ebrpl.com"],
.bc-site1 a,
.bc-site2 a {
	color: rgba(20, 80, 20, 0.9) !important;
	text-decoration: none;
}

.site1 a.ebrpllink:hover:after {
	content: " ▸ ";
	font-size: 2em;
}

.site1 a.ebrpllink:hover {
	color: rgba(0, 100, 0, .9);
}

@media screen and (min-width: 430px) {
	.site1 img {
		display: inline;
		margin: 1em 0.5em 2.5em;
		max-width: 44%;
	}
}

@media screen and (min-width: 855px) {
	.site1 img {
		display: inline;
		margin: 1em 4% 2.5em 0.5em;
		max-width: 44%;
	}
}

#holder {
	position: relative;
	top: 1%;
	left: 0px;
	width: 100%;
	height: 59vh;
	overflow: hidden;
	transform: translate3d(0, 0, 0);
}

.sqqq {
	width: 10px;
	height: 10px;
	background: red;
	box-shadow: 10px 10px 15px red;
	position: relative;
	left: -200px;
	top: -200px;
	transition: 2s ease;
	border-radius: 200px;
	transform: translate3d(0, 0, 0);
}

.coolkids {
	animation: shadowz 20s infinite ease;
	/*box-shadow: -10px -10px 15px red;*/
	/*left: 52px;*/
}

@keyframes shadowz {
	25% {
		box-shadow: -10px 10px 15px red;
		opacity: 0.8;
		transform: translate3d(0, 0, 0);
	}
	50% {
		box-shadow: -10px -10px 135px white;
		width: 280px;
		height: 280px;
		background: orange;
		transform: scale(210);
		/*translate3d(800px,100px,0)*/
		opacity: 1;
	}
	75% {
		box-shadow: 10px -10px 15px yellow;
	}
}

.rmmm {
	background: #ff6300;
	opacity: 0.2;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	transition: 1s ease-in-out;
}

@media screen and (max-width: 980px) {}

.fiction1 a {
	text-decoration: none !important;
	color: rgba(20, 80, 20, 0.9) !important;
	display: block;
    clear: both;
}

@media screen and (max-width: 1022px) {
	.skills {
		margin-top: 3.5em;
		margin-bottom: 2.5em;
		width: 75vw;
	}
}

.just-the-name {
	text-shadow: 1px 2px 0px rgba(182, 247, 232, 0.61), 1px 3px 3px rgba(130, 93, 25, 0.18);
}

.listenToMusic {
	color: #fff;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 8px;
    text-transform: uppercase;
	letter-spacing: 2px;
	transition: 2s ease;
	position: relative;
	left: 0;
}

.listenToMusic:hover {
   color: rgb(255, 166, 0);
   font-size: 80px;
   font-weight: bold; 
   letter-spacing: 20px;
}

.jobrecent {
	clear: both !important;
}

.toolsUsed {
	font-size: 0.6em !important;
    font-weight: 100 !important;
    display: block;
	margin-top: 2em;
	line-height: 2em;
	margin-bottom: 2em;
}

.toolsUsed span {
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #fff;
    padding: 7px;
    font-size: 0.8em;
    letter-spacing: 1px;
    margin-right: 8px;
}

.cp-ifs {
	height: 100vh;
    margin-bottom: 18%;
}

.cp-if1, .cp-if2, .cp-if3 {
    width: 100%;
    height: 42vw;
	margin-bottom: 5vw;
}

.cp-if2 {
	height: 30vw;
}

.cp-if3, .cp-if4, .cp-if5 {
		width: initial;
    height: 10vw;
    margin-bottom: 0;
	/* margin-right: 2vw; */
}

.cp-ifs iframe, .q-onb img {
    border: 1px solid rgba(255, 255, 255, 0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.34), 0px 32px 150px rgba(8, 18, 43, 0.3);
    box-sizing: border-box;
}

.cp-ifs div:nth-child(3), .cp-ifs div:nth-child(4), .cp-ifs div:nth-child(5) {
    float: left;
    clear: none;
    /* width: 30%; */
	margin-right: 2.75%;
}

.cp-ifs div:last-child {
   margin-right: 0 !important;
}

.cp-ifs h4 {
	color: rgba(20, 80, 20, 0.9) !important;
	margin-bottom: 0.4em;
}

.cp-ifs a, .q-onb a {
	text-decoration: none !important;
	color: rgba(20, 80, 20, 0.9) !important;
	border-color: red !important;
}

.cp-ifs div:nth-child(3) h4, .cp-ifs div:nth-child(4) h4, .cp-ifs div:nth-child(5) h4 {
	/* font-size: 2vw; */
	/* font-size: 1.3rem; */
	font-size: 1.1rem;
    font-weight: bold;
}

.port div {
	clear: both;
	padding-bottom: 4em;
}

.q-onb img {
	height: 300px;
}

.q-onb p {
	padding-right: 9%;
}

.q-onb div:nth-of-type(1) {
	margin-bottom: 6%;
}

.q-onb div:nth-of-type(1) p {
    float: left;
    /* display: inline; */
    width: 39%;
}

.q-onb div:nth-of-type(2) p {
    float: right;
    width: 32%;
}

.q-onb aside {
	margin-bottom: 5%;
}

.q-onb div:nth-of-type(1) p + img {
}

.q-onb div:nth-of-type(2) p + img {
}

.websites hr {
	border-top: 1px solid rgba(60, 132, 230, 0.39);
	margin-top: 12%;
	display: block;
	clear: both;
	
}

.websites hr + article {
	margin-top: 14%;
}

@media screen and (max-width: 1145px) {

	.q-onb div:nth-of-type(1) p {
		float: none;
		/* display: inline; */
		width: 100%;
	}
	
	.q-onb div:nth-of-type(2) p {
		float: none;
		width: 100%;
	}

	.q-onb div:nth-of-type(1), .q-onb div:nth-of-type(2) {
		
	}

	.q-onb div:nth-of-type(1) p + img, .q-onb div:nth-of-type(2) p + img {
		width: 60vw; 
		margin: 6% auto 0 auto;
		height: initial;
		display: block;
		
	}




}

@media screen and (max-width: 750px) {
	.q-onb div:nth-of-type(1) p + img, .q-onb div:nth-of-type(2) p + img {
		width: 80vw; 
	}

	.money-img, .dbrf-img {
		width: 60vw;
		border: 1px solid #fff;
		box-shadow: 0 0 1px rgba(0, 0, 0, 0.34);
		float: none;
		height: initial;
		margin: auto;
		display: block;
		margin-bottom: 14%;
		margin-top: 14%;
	}

	.dbrf-img {
		width: 80vw;
	}
}

@media screen and (max-width: 1030px) {
	.cp-ifs div:nth-child(4) {
		margin-right: 14.75%;
	}

	.cp-ifs div:nth-child(3) iframe, .cp-ifs div:nth-child(4) iframe, .cp-ifs div:nth-child(5) iframe {
		width: 80vw;
		margin: auto;
		height: 25vw;
	}
}

@media screen and (max-width: 380px) {
	.nav li {
		float: left;
		font-family: 'Francois One', sans-serif;
		margin-right: 1em;
		font-weight: bold;
		letter-spacing: 2px;
		font-size: 1.38em;
	}

	.content {
		height: 26vh;
		margin: 28% 16%;
	}
}

/* @media screen and (max-width: 467px) {

.port .bc-site2 img {
    width: 30%;
    margin: 0 1% !important;
    display: inline-block;
}
} */

@media screen and (max-width: 700px) {
	.port .bc-site2 img {
	width: 76vw;
	margin: 5% 0 !important;
	}


	#portfolio-body .mp-logo-frst {
		width: 55vw;
		margin: auto;
		margin-bottom: 13%;
	}
}

